.P1 {
  font: var(--P1);
  font-weight: 400;
}

.P2 {
  font: var(--P2);
  font-weight: 400;
}

.P3 {
  font: var(--P3);
  font-weight: 400;
}

.desc {
  font: var(--Description);
  font-weight: 400;
}

@media screen and (width <= 425px) {

  .P1 {
    font: var(--P1);
    font-weight: 400;
  }

  .P2 {
    font: var(--P3) !important;
    font-weight: 400;
  }

  .P3 {
    font: var(--P3);
    font-weight: 400;
  }

  .desc {
    font: var(--Description2);
  }
}
