.search-input {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  box-sizing: border-box;


  .MuiSvgIcon-root {
    cursor: pointer;
  }
    
  .MuiAutocomplete-root {
    width: 100%;
    height: 100%;
  }

  .MuiSvgIcon-root {
    color: white;
    margin: 7px 10px;
  }

  .MuiAutocomplete-option {
    color: red;
    text-overflow: ellipsis;
  }

  .MuiAutocomplete-input::placeholder {
    color:  #1A1A1A;
    opacity: 0.6;
  }

  .MuiAutocomplete-input::input-placeholder {
    color:  #1A1A1A;
    opacity: 0.6;
  }

  .MuiAutocomplete-input {
    box-shadow: none;
    text-overflow: ellipsis;
    border: 1px solid var(--grey);
    padding: 0 0 0 1rem;
    margin: 0;
    font: var(--H4);
    height: 2rem;
    width: 100%;
    border-radius: 4px;
    color:  var(--black);
    outline: none;

    &:focus {
      border-color: var(--orange);
    }
  }

}

.input {
  border-radius: 4px;
  width: 100%;
  height: 100% !important;
  position: relative;

  input {
    width: 100%;
    height: 100% !important;
  }
}

.btniocn {
  position: absolute;
  right: 0; 
}
  

// .MuiAutocomplete-listbox{ 
//   padding: 8px 12px 8px 24px !important;
// }

.MuiAutocomplete-option {
  // padding: 16px 0 8px  !important;
  border-bottom: 1px solid var(--light-grey) ;
}

.seartchBtn{
  border-radius: 0 4px 4px 0 !important;
  width: 48px !important;
  height: 44px !important;
  padding: 10px 12px !important;
}

@media screen and (width <= 960px) {

  .search-input  {
    width: 100%;

    .MuiAutocomplete-input {
    width: 100%;
  }
  }
}
