.NavLeft {
  cursor: pointer;
  position: absolute;
  top: 50% ;
  fill: var(--white);
  left: 7.5rem;
  z-index: 1;

}

.NavRight {
  cursor: pointer;
  fill: var(--white);
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 7.5rem;
}