.PageError {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info {
  margin-bottom: 20px;
  font: var(--H1);
}

.btn {
  width: 300px;
}