.description {
  max-width: 31.875rem;
  margin-bottom: 0.375rem;
}

.P1 {
  text-align: start;
  padding: 0 0 1rem;
}


@media screen and (width <=768px) {
  .P1 {
    font-size: 16px;
  }
}

@media screen and (width <=375px) {

  .P1 {
    padding: 0;
  }

  .H1 {
    font-size: 22px;
  }

}