.header {
  cursor: pointer;
}

.collapse {
  margin-bottom: 1rem;
}

.CatalogProdFilterBrand {
  border-bottom: 1px solid var(--light-grey);
}

.checkboxWrapper {
  max-height: 15rem;
  overflow-y: auto;
}