.CatalogProdPageFilter {
  min-width: 17.8125rem;
  max-width: 17.8125rem;
  overflow-y: auto;
}

.hasBorder {
  border-bottom: 1px solid var(--light-grey);
}

@media screen and (width <= 1024px) {

 .CatalogProdPageFilter {
    min-width: 100%;
  }

  .brandsSize {
    flex-direction: row;
    gap: 1rem !important;
    border-bottom: 1px solid var(--light-grey);
  }

  .brands {
    border: none ;
  }
}

@media screen and (width <= 425px) {

  .brandsSize {
    flex-direction: column !important;
    gap: 1rem !important;
    border-bottom: none !important;
  }

  .brands {
    border-bottom: 1px solid var(--light-grey);
  }
}
