.app_light_theme {
  --black: #252528;
  --main-color : #00845B;
  --white: #FFF;
  --gradient : radial-gradient(100% 100% at 50.36% 0%, #38B48D 0%, #007752 100%);
  --dark-grey : #666;;
  --grey : #B3B3B3;
  --light-grey : #D7D7D7;
  --add-white : #F9F9FB;
  --Yellow : #F2C94C;
  --red: #D51E4A;
  --green : #146626;
  --blue: #4481DB;
  
}