.ErrorMessages {
  color: var(--red);
  text-align: center;
  max-width: 24.125rem;
}

.desc {
  font: var(--Description);
}

.P3 {
  font: var(--P3);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}