.RadioButton {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.radioLabel {
  color: #303030;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 1rem;
}

.radioInput {
  display: none;
}

.radioInput:checked + span {
  border: 1px solid var(--grey);
}

.radioInput:checked + span::after {
  opacity: 1;
}

.customRadio {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--grey);
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.customRadio::after {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -51%);
  opacity: 0;
  transition: opacity 0.2s;
}