.ProductsRecommendationList {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  width: 100%;
  min-height: 550px;
}

.isNotScroll {
  overflow-x: hidden;
  flex-wrap: wrap;
  gap: 1.25rem
}

.wrapper {
  max-width: 100%;
}

@media screen and (width <= 768px) {
  .isNotScroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

@media screen and (width <= 425px) {

  .ProductsRecommendationList {
    min-height: 530px;
  }
  
   
 }