
.checkbox {
  position: relative;
  display: block;
}

.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}

.checkbox label {
  position: relative;
}

.checkbox label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 1px solid var(--dark-grey);
}

.checkbox label:hover::before {
  border: 1px solid var(--main-color);
}

.checkbox label::after {
  content: '';
  display: block;
  width: 0.625rem;
  height: 0.3125rem;
  border-bottom: 2px solid var(--white);
  border-left: 2px solid var(--white);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}

.checkbox input[type="checkbox"]:checked ~ label::before {
  background: var(--main-color);
  border: 1px solid var(--main-color);
}

.checkbox input[type="checkbox"]:checked ~ label::after {
  transform: rotate(-45deg) scale(1);
    
}

.checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: sub;
}

.checkbox label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}

.label{
  padding-top: 7px;
}

.error {
  position: absolute;
  left: 0;
  top: 2rem;
  color: var(--red);
  display: none;
}

input:invalid[aria-invalid="true"]~.error {
  display: block;
}